{% extends "base.html" %}
{% block content %}
<!-- HOME SECTION -->
{% for message in get_flashed_messages() %}
<div>{{ message }}<div>
{% endfor %}
<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row justify-content-center">
        <div class="col-lg-8 d-none d-lg-block">
          <h1 class="display-3 text-center">Welcome to learnSQL!
          </h1>
          <div class="d-flex justify-content-center">
            <div class="p-4 align-self-end lead">
              <p>This site is all about learning SQL. The tutorial on this site are aimed at teaching you how to write SQL queries. 
                Once you have completed the tutorial, you can take a test to check your SQL skills.</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  {% if current_user.is_authenticated %}

  {% if current_user.role == 'ADMIN' %}
  {% for question in questions.items %}
  <div class="card">
    <div class="card-body">
      <h2><a class="card-title"
          href="{{ url_for('questions.question', question_id=question.id) }}">{{ question.title }}</a>
      </h2>
      <p class="card-text">{{ question.content[:100] }}...</p>
      <a href="{{ url_for('questions.question', question_id=question.id) }}" class="btn btn-primary">Read
        Question</a>
    </div>
  </div>
  {% endfor %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if questions.page == page_num %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
      </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  {% if current_user.role == 'USER' %}
  <!-- start new quiz -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">Start New Quiz!</h1>
          <a href="{{ url_for('tests.create_test') }}" class="btn text-dark bg-light">Click Here</a>
        </div>
      </div>
    </div>
  </section>
  <!-- past exam header -->
  <section id="create-head-section" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">Your Past Assessments</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- tests -->
  {% for test in tests %}
  <div class="card">
    <div class="card-body">
      {% if test.finish == 0 %}
      <h2><a class="card-title"
          href="{{ url_for('tests.test_results', test_id=test.id) }}">{{ 'Resume test {}'.format(test.id) }}</a>
      </h2>
      {% else %}
      <span>Congratulation! you have finished this test! Your score is
        {{calculateScore(answers, test)}}!
      </span>

      <p>
        <a class="card-title" href="{{ url_for('tests.test_results', test_id=test.id) }}">Check Result!
        </a>
      </p>
      {% endif %}

    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endif %}
</div>
{% endblock %}