body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(./quiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

.content {
  background-color: #fff;
  color: black;
  margin: 100px;
  padding: 50px;
  border-radius: 10px;
}

pre {
  padding: 5px;
  background-color: rgb(137, 212, 247);
  border-radius: 4px;
}

pre code {
  padding: -5px;
}

table, th, td
{
    border: 1px solid black;
}

.test-button {
  margin:auto;
  width: 30%;
}

.correct {
  background-color:green;
  color: #fff;
}

.incorrect {
  background-color: firebrick;
  color: #fff;
}

.test-score {
  float:left;
  margin-left: 10%;
}

.test-date {
  float:right;
  margin-right: 10%;
}

.sc {
  color: coral;
  font-style: italic;
  font-size: 30px;
}


  
